.container {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  transition: all 0.2s;
}

.container_transparent {
  background: transparent;
  border-bottom: 0px solid rgba(0, 27, 55, 0.1);
}

.container_border {
  background: white;
  border-bottom: 1px solid rgba(0, 27, 55, 0.1);
}

.title {
  font-weight: bold;
  font-size: 18px;
  color: black;
}
.menu > .menu__item + .menu__item {
  margin-left: 16px;
}
.menu__item {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
}
.menu__item:hover {
  color: #2e3cff;
}
